@use 'src/scss/base/variables' as v;
@use 'src/scss/base/mixin' as m;

.galeria{
    padding: 5rem 0;

    h2{
        text-align: center;
        text-transform: uppercase;
    }
}

.galeria_imagenes{
    @include m.resetear-lista;
    @include m.grid(2, 2rem);

    @include m.iphone {
        @include m.resetear-lista;
        @include m.grid(3, 2rem);  
    }

    @include m.tablets {
        @include m.resetear-lista;
        @include m.grid(4 , 2rem);
    }
    @include m.desktop {
        @include m.resetear-lista;
        @include m.grid(6 , 2rem);
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    picture{
        max-width: 90%;
        max-height: 90%;
        opacity: 2;
        transition: opacity 0.5s ease-in-out;
    }

    button{
        width: 4rem;
        height: 4rem;
        background-color: v.$blanco;
        border-radius: 50%;
        color: v.$negro;
        display: grid;
        place-items: center;
        font-weight: 700;
        cursor: pointer;
    }
}