@use 'src/scss/base/variables' as v;
@use 'src/scss/base/mixin' as m;

.header{
    background-color: v.$verde;

    &.fijo{
        @include m.tablets {
            left: 0;
            top: 0;
            position: fixed;
            width: 100%;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.675); // Sombra debajo
        }
        
        
    }
    h1{
        color: v.$blanco;
        text-align: center;

        @include m.tablets {
            margin: 0;
        }
    }
    .contenido-header{
        padding: 2rem;
        
        @include m.tablets {
            display: flex;
            justify-content: space-between;

        }
    }
}

.navegacion-principal{
    @include m.tablets {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
   a{
    display: block;
    text-align: center;
    color: v.$blanco;
    margin-bottom: 1rem;
    font-size: 2.4rem;

    @include m.tablets {
        margin: 0;
        padding-top: 1rem;
    }

    &:hover{ //ampersand para elominar espacios
        color: v.$amarillo;
    }
   } 
}
